fieldset {
    border:0;
    margin:0;
    padding:0;
}

form {overflow: hidden;}

form ol {
    margin:0;
    padding:0;
    overflow:hidden;
}

form ol li, .csc-form-element {
    margin:0 0 1em;
    padding:0;
    overflow: hidden;
    list-style: none;
}

label em {
    display:none !important;
}

fieldset div {
    margin:0 0 1em;
}

fieldset legend {
    display:none;
}

input[type=text], input[type=password] {
    border:0;
    border-bottom: 1px solid #aaa;
    background: none;
    padding: 5px 7px 5px 7px;
    width: 18em;
    font-size:1.1em;
    color:#555;
    background: #fff;
    border-radius: .2em;
}

textarea {
    padding: 5px 7px 5px 7px;
    width: 18em;
    font-size:1.1em;
    border:0;
    border-bottom: 1px solid #aaa;
    color:#555;
    border-radius: .2em;
}


input[type=submit], input[type=button], input[type=reset] {
    border:0;
    background: none;
    font-size:1.1em;
    font-weight:bold;
    text-transform: uppercase;
    color:#383838;
}

.csc-form-element-submit {
    float:left;
}

label {
    width:10em;
    float:left;
}

.tx-felogin-pi1 fieldset {
    margin:2em 0 0 0;
}

.tx-felogin-pi1 fieldset label {
    display:none;
}

.tx-felogin-pi1 h3 {
    display:none;
}